<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { color: rgb(232,191,106); }
.s1 { color: rgb(186,186,186); }
.s2 { color: rgb(165,194,97); }
.s3 { color: rgb(169,183,198); }
</style>
</head>
<BODY BGCOLOR="#2b2b2b">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_main.xml</FONT>
</center></TD></TR></TABLE>
<pre>

<span class="s0">&lt;LinearLayout </span><span class="s1">xmlns:android=</span><span class="s2">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s0"> 
    </span><span class="s1">xmlns:ads=</span><span class="s2">&quot;http://schemas.android.com/apk/lib/com.google.ads&quot;</span><span class="s0"> 
    </span><span class="s1">xmlns:tools=</span><span class="s2">&quot;http://schemas.android.com/tools&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s1">tools:context=</span><span class="s2">&quot;.MainActivity&quot;</span><span class="s0"> 
    </span><span class="s1">android:orientation=</span><span class="s2">&quot;vertical&quot;</span><span class="s0"> 
    </span><span class="s1">android:padding=</span><span class="s2">&quot;15dp&quot;</span><span class="s0"> 
    </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/layout&quot;</span><span class="s0"> 
    </span><span class="s1">android:background=</span><span class="s2">&quot;#000000&quot;</span><span class="s0"> 
    &gt;</span><span class="s3"> 
     
 
 
    </span><span class="s0">&lt;ImageView 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/podglad&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;4.3&quot;</span><span class="s0"> 
        </span><span class="s1">android:onClick=</span><span class="s2">&quot;show&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;LinearLayout 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/ll1&quot;</span><span class="s0"> 
        </span><span class="s1">android:orientation=</span><span class="s2">&quot;vertical&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;4.4&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
 
        </span><span class="s0">&lt;LinearLayout 
            </span><span class="s1">android:orientation=</span><span class="s2">&quot;horizontal&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;3&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;TextView 
                </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:textAppearance=</span><span class="s2">&quot;?android:attr/textAppearanceSmall&quot;</span><span class="s0"> 
                </span><span class="s1">android:text=</span><span class="s2">&quot;R&quot;</span><span class="s0"> 
                </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/textView&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;6&quot;</span><span class="s0"> 
                </span><span class="s1">android:textAlignment=</span><span class="s2">&quot;gravity&quot;</span><span class="s0"> 
                </span><span class="s1">android:textIsSelectable=</span><span class="s2">&quot;false&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                </span><span class="s1">android:gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                </span><span class="s1">android:textColor=</span><span class="s2">&quot;#ffffff&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;Button 
                </span><span class="s1">style=</span><span class="s2">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:text=</span><span class="s2">&quot;-&quot;</span><span class="s0"> 
                </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/button4&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;5&quot;</span><span class="s0"> 
                </span><span class="s1">android:gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                </span><span class="s1">android:onClick=</span><span class="s2">&quot;rless&quot;</span><span class="s0"> 
                </span><span class="s1">android:textColor=</span><span class="s2">&quot;#ffffff&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;SeekBar 
                </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/seekBar&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;3&quot;</span><span class="s0"> 
                </span><span class="s1">android:max=</span><span class="s2">&quot;255&quot;</span><span class="s0"> 
                </span><span class="s1">android:textAlignment=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                </span><span class="s1">android:indeterminate=</span><span class="s2">&quot;false&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s2">&quot;center&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;Button 
                </span><span class="s1">style=</span><span class="s2">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:text=</span><span class="s2">&quot;+&quot;</span><span class="s0"> 
                </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/button5&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;5&quot;</span><span class="s0"> 
                </span><span class="s1">android:gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                </span><span class="s1">android:onClick=</span><span class="s2">&quot;rmore&quot;</span><span class="s0"> 
                </span><span class="s1">android:textColor=</span><span class="s2">&quot;#ffffff&quot;</span><span class="s0"> 
                /&gt;</span><span class="s3"> 
        </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;LinearLayout 
            </span><span class="s1">android:orientation=</span><span class="s2">&quot;horizontal&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;3&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;TextView 
                </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:textAppearance=</span><span class="s2">&quot;?android:attr/textAppearanceSmall&quot;</span><span class="s0"> 
                </span><span class="s1">android:text=</span><span class="s2">&quot;G&quot;</span><span class="s0"> 
                </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/textView2&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;6&quot;</span><span class="s0"> 
                </span><span class="s1">android:gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                </span><span class="s1">android:textColor=</span><span class="s2">&quot;#ffffff&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;Button 
                </span><span class="s1">style=</span><span class="s2">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:text=</span><span class="s2">&quot;-&quot;</span><span class="s0"> 
                </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/button6&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;5&quot;</span><span class="s0"> 
                </span><span class="s1">android:gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                </span><span class="s1">android:onClick=</span><span class="s2">&quot;gless&quot;</span><span class="s0"> 
                </span><span class="s1">android:textColor=</span><span class="s2">&quot;#ffffff&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;SeekBar 
                </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/seekBar2&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;3&quot;</span><span class="s0"> 
                </span><span class="s1">android:max=</span><span class="s2">&quot;255&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                /&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;Button 
                </span><span class="s1">style=</span><span class="s2">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:text=</span><span class="s2">&quot;+&quot;</span><span class="s0"> 
                </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/button7&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;5&quot;</span><span class="s0"> 
                </span><span class="s1">android:gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                </span><span class="s1">android:onClick=</span><span class="s2">&quot;gmore&quot;</span><span class="s0"> 
                </span><span class="s1">android:textColor=</span><span class="s2">&quot;#ffffff&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
        </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;LinearLayout 
            </span><span class="s1">android:orientation=</span><span class="s2">&quot;horizontal&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;3&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;TextView 
                </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:textAppearance=</span><span class="s2">&quot;?android:attr/textAppearanceSmall&quot;</span><span class="s0"> 
                </span><span class="s1">android:text=</span><span class="s2">&quot;B&quot;</span><span class="s0"> 
                </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/textView3&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;6&quot;</span><span class="s0"> 
                </span><span class="s1">android:gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                </span><span class="s1">android:textColor=</span><span class="s2">&quot;#ffffff&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;Button 
                </span><span class="s1">style=</span><span class="s2">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:text=</span><span class="s2">&quot;-&quot;</span><span class="s0"> 
                </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/button8&quot;</span><span class="s0"> 
                </span><span class="s1">android:gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                </span><span class="s1">android:singleLine=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;5&quot;</span><span class="s0"> 
                </span><span class="s1">android:onClick=</span><span class="s2">&quot;bless&quot;</span><span class="s0"> 
                </span><span class="s1">android:textColor=</span><span class="s2">&quot;#ffffff&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;SeekBar 
                </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/seekBar3&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;3&quot;</span><span class="s0"> 
                </span><span class="s1">android:max=</span><span class="s2">&quot;255&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s2">&quot;center&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;Button 
                </span><span class="s1">style=</span><span class="s2">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:text=</span><span class="s2">&quot;+&quot;</span><span class="s0"> 
                </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/button9&quot;</span><span class="s0"> 
                </span><span class="s1">android:gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;5&quot;</span><span class="s0"> 
                </span><span class="s1">android:onClick=</span><span class="s2">&quot;bmore&quot;</span><span class="s0"> 
                </span><span class="s1">android:textColor=</span><span class="s2">&quot;#ffffff&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
        </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;LinearLayout 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/ll2&quot;</span><span class="s0"> 
        </span><span class="s1">android:orientation=</span><span class="s2">&quot;horizontal&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;4&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;LinearLayout 
            </span><span class="s1">android:orientation=</span><span class="s2">&quot;horizontal&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;3&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;LinearLayout 
                </span><span class="s1">android:orientation=</span><span class="s2">&quot;vertical&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;3&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
                </span><span class="s0">&lt;EditText 
                    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                    </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/red&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;5&quot;</span><span class="s0"> 
                    </span><span class="s1">android:numeric=</span><span class="s2">&quot;integer&quot;</span><span class="s0"> 
                    </span><span class="s1">android:hint=</span><span class="s2">&quot;RED&quot;</span><span class="s0"> 
                    </span><span class="s1">android:textColorHint=</span><span class="s2">&quot;#ffffff&quot;</span><span class="s0"> 
                    </span><span class="s1">android:gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                    </span><span class="s1">android:textAlignment=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                    </span><span class="s1">android:inputType=</span><span class="s2">&quot;phone&quot;</span><span class="s0"> 
                    </span><span class="s1">android:textColor=</span><span class="s2">&quot;#ffffff&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
                </span><span class="s0">&lt;EditText 
                    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                    </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/green&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;5&quot;</span><span class="s0"> 
                    </span><span class="s1">android:hint=</span><span class="s2">&quot;GREEN&quot;</span><span class="s0"> 
                    </span><span class="s1">android:textColorHint=</span><span class="s2">&quot;#ffffff&quot;</span><span class="s0"> 
                    </span><span class="s1">android:gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                    </span><span class="s1">android:textAlignment=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                    </span><span class="s1">android:inputType=</span><span class="s2">&quot;phone&quot;</span><span class="s0"> 
                    </span><span class="s1">android:textColor=</span><span class="s2">&quot;#ffffff&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
                </span><span class="s0">&lt;EditText 
                    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                    </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/blue&quot;</span><span class="s0"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;5&quot;</span><span class="s0"> 
                    </span><span class="s1">android:hint=</span><span class="s2">&quot;BLUE&quot;</span><span class="s0"> 
                    </span><span class="s1">android:textColorHint=</span><span class="s2">&quot;#ffffff&quot;</span><span class="s0"> 
                    </span><span class="s1">android:gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                    </span><span class="s1">android:textAlignment=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                    </span><span class="s1">android:inputType=</span><span class="s2">&quot;phone&quot;</span><span class="s0"> 
                    </span><span class="s1">android:textColor=</span><span class="s2">&quot;#ffffff&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;Space 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;5&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;LinearLayout 
            </span><span class="s1">android:orientation=</span><span class="s2">&quot;vertical&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;3&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;Space 
                </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;5&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;EditText 
                </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/hexa&quot;</span><span class="s0"> 
                </span><span class="s1">android:inputType=</span><span class="s2">&quot;text&quot;</span><span class="s0"> 
                </span><span class="s1">android:hint=</span><span class="s2">&quot;Hexadecimal&quot;</span><span class="s0"> 
                </span><span class="s1">android:textColorHint=</span><span class="s2">&quot;#ffffff&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;5&quot;</span><span class="s0"> 
                </span><span class="s1">android:nestedScrollingEnabled=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
                </span><span class="s1">android:importantForAccessibility=</span><span class="s2">&quot;auto&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_gravity=</span><span class="s2">&quot;center_horizontal&quot;</span><span class="s0"> 
                </span><span class="s1">android:gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                </span><span class="s1">android:textAlignment=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
                </span><span class="s1">android:textColor=</span><span class="s2">&quot;#ffffff&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
            </span><span class="s0">&lt;Space 
                </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;5&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
    </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;LinearLayout 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/ll3&quot;</span><span class="s0"> 
        </span><span class="s1">android:orientation=</span><span class="s2">&quot;horizontal&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;5&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;Button 
            </span><span class="s1">style=</span><span class="s2">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:text=</span><span class="s2">&quot;From RGB to Hexa&quot;</span><span class="s0"> 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/button&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;5&quot;</span><span class="s0"> 
            </span><span class="s1">android:onClick=</span><span class="s2">&quot;check&quot;</span><span class="s0"> 
            </span><span class="s1">android:textColor=</span><span class="s2">&quot;#ffffff&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;Button 
            </span><span class="s1">style=</span><span class="s2">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:text=</span><span class="s2">&quot;From Hexa to RGB&quot;</span><span class="s0"> 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/button2&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;5&quot;</span><span class="s0"> 
            </span><span class="s1">android:onClick=</span><span class="s2">&quot;fromHexatoRGB&quot;</span><span class="s0"> 
            </span><span class="s1">android:textColor=</span><span class="s2">&quot;#ffffff&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
    </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;LinearLayout 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/ll4&quot;</span><span class="s0"> 
        </span><span class="s1">android:orientation=</span><span class="s2">&quot;horizontal&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;5&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;Button 
            </span><span class="s1">style=</span><span class="s2">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:text=</span><span class="s2">&quot;Reset&quot;</span><span class="s0"> 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/button3&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_weight=</span><span class="s2">&quot;1&quot;</span><span class="s0"> 
            </span><span class="s1">android:onClick=</span><span class="s2">&quot;Reset&quot;</span><span class="s0"> 
            </span><span class="s1">android:textColor=</span><span class="s2">&quot;#ffffff&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
 
</span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
</span></pre>
</body>
</html>